<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="footer-brand d-flex justify-content-start">
                    <img class="logo logo-footer" src="{{ asset('build/images/odp-logo.png') }}" alt="ODP Logo">
                    <p class="ms-3 mt-2">Eine Initiative der ÖDP München</p>
                </div>
                <ul class="footer-links">
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Nutzungsbedingungen</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>