<div id="appModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">System Information</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer bg-dark text-white">
        <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Schliessen</button>
        <button type="button" class="btn btn-primary btnSave">Speichern</button>
      </div>
    </div>
  </div>
</div>
